{% extends 'base/base.html' %}

{% block title %}AnteProyecto{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Anteproyecto</h1>
  <p class="lead">Esta es la sección donde podras crear o insertar un anteproyecto</p>
  <hr class="my-4">
  <p>Elige una de las siguientes opciones:</p>

  <a href="{% url 'verap' %}"><button type="button" class="btn btn-info">Ver anteproyectos</button></a>
  <a href="#"><button type="button" class="btn btn-success">Insertar anteproyecto</button></a>
  <a href="{% url 'iniciopc' %}"><button type="button" class="btn btn-secondary">Configurar capitulos</button></a>
</div>
{% endblock %}
